@font-face {
    font-family: 'ClashGrotesk';
    src: url('/fonts/ClashGrotesk-Medium.woff') format('woff'), url('/fonts/ClashGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: medium;
  }

  :root {
    --font-main: 'ClashGrotesk', sans-serif;
  }

  h1, h2, h3 {
    font-family: 'ClashGrotesk', sans-serif;
  }
