---
import LottieIcon from './LottieIcon.svelte';


const icons = [
  '/assets/lottie/health.json',
  '/assets/lottie/desktop.json',
  '/assets/lottie/weight.json',
];
---

<div class="flex justify-center gap-6 mb-8">
    {icons.map((icon) => (
        <LottieIcon client:only="svelte" src={icon} />
     ))}
</div>

