---
import Button from "./shared/Button.astro";

---

<section class="max-w-screen-lg mx-auto py-20">
        <div class="w-full px-8 py-24 text-center bg-[--background-100] rounded-2xl shadow-sm  dark:bg-gray-800">
            <h2 class="mb-4  mx-auto text-5xl font-main tracking-tight leading-none text-gray-900 dark:text-white">¡Hablemos sobre tu próximo proyecto!</h2>
            <p class="mb-8 text-lg font-normal text-accent lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Agendemos una llamada de 15 minutos para conocernos, resolver tus dudas y ver cómo podemos trabajar juntos.</p>
            <div class="flex flex-col space-y-4 sm:flex-row  gap-4 sm:justify-center sm:space-y-0">
                <Button href="/contact" label="Agendar una llamada " variant="primary" />
                <Button href="/contact" label="Ver planes" variant="secondary" />
          
            </div>
        </div>
</section>


