---
const { hideTerms = false, hideSocial = false } = Astro.props;

const links = [
  { label: 'Inicio', href: '/' },
  { label: 'Servicios', href: '/services' },
  { label: 'Proyectos', href: '/works' },
  { label: 'Nosotros', href: '/about' },
  { label: 'Contacto', href: '/contact' },
  ...(hideTerms ? [] : [{ label: 'Términos y condiciones', href: '/terms-and-conditions' }])
];

const socialLinks = [
  { label: 'Proyectos', href: '/works' },
  { label: 'Instagram', href: 'https://www.instagram.com/nitida.digital/', external: true }
];
---

<footer class="bg-gradient-to-r from-gray-900 via-black to-gray-800 text-white border-t border-gray-800">
    <div class="max-w-screen-lg mx-auto">
        <nav class="border-b boreder-gray-300 mb-16">
            <div class="max-w-screen-xl mx-auto px-4 py-4 flex justify-between items-center text-sm">
                <div class="flex gap-6 items-center">
                {links.map(link => (
                    <a href={link.href}>{link.label}</a>
                ))}
                </div>
                {!hideSocial && (
                    <div class="flex gap-6 items-center">
                        {socialLinks.map(link => (
                            <a href={link.href} {...(link.external ? { target: "_blank", rel: "noopener noreferrer" } : {})}>
                                {link.label}
                            </a>
                        ))}
                    </div>
                )}
            </div>
        </nav>

        <div class="relative w-1/2 mx-auto">
            <img src="/assets/images/hero_logo-w.svg" alt="Logo Footer" class="w-full relative z-10" />
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent z-20 pointer-events-none"></div>
        </div>
        
        <div class="max-w-screen-lg mx-auto py-4 text-xs text-center text-zinc-900">
        <span>© {new Date().getFullYear()} Nítida. Todos los derechos reservados.</span>
        </div>
    </div>
  </footer>
  