---
const images = [
  "https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg",
  "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg",
  "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg",
  "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg",
  "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg",
  "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg",
];
---

<section class="py-16 bg-[--background-100]">
  <div class="max-w-screen-lg mx-auto grid grid-cols-2 md:grid-cols-3 gap-4">
    {images.map((src, index) => (
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src={src}
          alt={`Imagen ${index + 1}`}
          loading="lazy"
        />
      </div>
    ))}
  </div>
</section>
