---
import Badge from "./shared/Badge.astro";
import Icon from "./shared/Icon.astro";

const services = [
  { label: "Branding", icon: "star" },
  { label: "Página web", icon: "check" }, 
  { label: "Diseño de logo", icon: "plus" },
  { label: "Diseño Gráfico", icon: "design" },
];
---



<section class="py-8 md:py-16 text-center bg-white" id="services">

    <div class="px-4 max-w-screen-lg mx-auto"  data-aos="fade-up" data-aos-delay="100">
        <Badge label="Servicios" color="yellow" />
        <h2 class="text-3xl md:text-5xl font-main my-2 text-black">¿Qué ofrecemos?</h2>
        <p class="text-lg text-accent mb-10">
          Todo lo que tu marca necesita, en un solo lugar.
        </p>
      
        <div class="flex flex-col md:flex-row flex-wrap justify-center gap-4">
          {services.map((service) => (
            <span class="flex items-center min-w-[] sm:w-2/3 md:w-auto mx-auto justify-center gap-2 px-6 py-3 bg-accent text-white text-1xl  md:text-2xl font-main rounded-full">
              <Icon name={service.icon} size="8" color="text-secondary" />
              {service.label}
            </span>
          ))}
        </div>
    </div>

</section>
