<div class="overflow-hidden">
    <div id="carousel-multiple" class="flex animate-slide gap-4">
      <div class="min-w-[300px] bg-white rounded shadow p-4">Elemento 1</div>
      <div class="min-w-[300px] bg-white rounded shadow p-4">Elemento 2</div>
      <div class="min-w-[300px] bg-white rounded shadow p-4">Elemento 3</div>
      <div class="min-w-[300px] bg-white rounded shadow p-4">Elemento 4</div>
      <div class="min-w-[300px] bg-white rounded shadow p-4">Elemento 5</div>
    </div>
  </div>
  