---
const projects = [
  {
    slug: "calida",
    image: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg",
    title: "Cálida Studio",
  },
  {
    slug: "filmmaker",
    image: "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg",
    title: "Filmmaker",
  },
  // ... más proyectos
];
---

<section class="py-8 px-4 md:py-16 bg-[--background-100]">
    <div class="max-w-screen-lg mx-auto grid grid-cols-2 md:grid-cols-3 gap-4">
      {projects.map((project) => (
        <a 
          href={`/works/${project.slug}`} 
          class="block overflow-hidden rounded-lg hover:shadow-lg transition"
        >
          <img
            class="h-auto max-w-full"
            src={project.image}
            alt={project.title}
            loading="lazy"
          />
        </a>
      ))}
    </div>
  </section>
  